<div style="display: block; text-align: center;">
    <div style="display: inline-block;line-height: 1;text-align: center;padding: 0.5em;margin: 1em 0;border: 2px dashed grey;">
        <img src="https://avatars.githubusercontent.com/{{ include.user }}?s=80" alt="{{ include.user }}" style="display: inline-block;margin: 0;">
        <p style="margin: 0;">{{ include.name }}</p>
        <small>
            <a href="https://github.com/{{include.user}}">https://github.com/{{ include.user }}</a>
        </small>
    </div>
</div>