<div style="display: inline-block;margin: 1em 0 0;border: 2px dashed grey;padding: 0.5em;">
    <div style="float: left;margin-right: 1em;">
        <img src="{{site.baseurl}}/public/images/meetups/{{include.name}}.jpeg" alt="{{include.name}}" style="width: 5em;
    margin: 0;">
    </div>
    <div style="float: left;margin-top: 0.5em;">
        <h3 style="margin: 0;">{{include.title}}</h3>
        <small style="margin: 0;">
            <a href="https://meetup.com/{{include.name}}">https://meetup.com/{{include.name}}</a>
        </small>
        <small style="display: block;">
            <a href="https://www.meetup.com/{{include.name}}/events/{{include.event}}/">Más información del evento</a>
        </small>
    </div>
</div>